{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talentia-Welcome</title>

    <link href="{% static 'assets/css/Main-page-css.css' %} " rel="stylesheet">


</head>
<body>
    <header>
        <div class="section">
            <div class="video-container">
                <div class="color-overlay"></div>
                <video autoplay loop muted>
                    <source src="{% static 'assets/img/video.mp4' %} " type="video/mp4">
                </video>
            </div>
    
        </div>
        <div class="title">
            <h4>End Semester Project</h4>
            <h1>Group-4</h1>
            <h2>3rd Year, CSE-E Section</h2>
            <h3>-Topic: Preemative Scheduling Algorithm</h3>
        </div>
        <div class="button">
            <a href="/index" class="btn">Get Started >>></a>
        </div>
    </header>
</body>
</html>
